<html>
  <body>
    <h1>JAX-RS Upload Form @ $context.getContextPath()</h1>
    <form action="$context.getContextPath()/pictures/create" method="post" enctype="multipart/form-data">
      <p>Select a file : <input type="file" name="uploadedFile" size="50" /> </p>
      <input type="submit" value="Upload It" />
    </form>
  </body>
</html>