<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Index</title>
    <link href="$context.getContextPath()/velocity/css/test.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="contentPane">$contentPane</div>
  </body>
</html>